<template>
    <v-app>
        <v-container fluid class="grey lighten-4 fill-height">
            <v-row
                align="center"
                justify="center"
            >
                <v-col class="text-center" cols="12">
                    <h1>404 - Not Found</h1>
                </v-col>
                <v-col class="text-center" cols="12">
                    <v-btn text large color="primary" to="/">Home</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>
