<template>
    <v-row>
        <v-col cols="8" offset="2">
            <v-card>
                <v-img
                    :src="item.image_url"
                ></v-img>

                <v-card-title>
                    {{ item.title }}
                </v-card-title>

                <v-card-text>
                    {{ item.description }}
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon class="mr-2">mdi-eye</v-icon> {{ item.views }}
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                item: {}
            };
        },
        methods: {
            async getItem() {
                try {
                    let res = await this.axios.get(`/item/${this.$route.params.id}`);

                    return res.data.data;
                } catch (e) {
                    if (e.response.status === 403) {
                        await this.$router.push('/items');
                    }
                }
            }
        },
        mounted() {
            this.getItem().then(item => {
                this.item = item;
            });
        }
    }
</script>
