<template>
    <v-app>
        <v-navigation-drawer
            app
            clipped
            v-model="drawer"
        >
            <v-list dense>
                <v-list-item link to="/">
                    <v-list-item-action>
                        <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Home</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link to="/items">
                    <v-list-item-action>
                        <v-icon>mdi-format-list-bulleted</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Items</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            app
            dark
            clipped-left
            color="green"
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Kreatif Klub Test Project</v-toolbar-title>
            <v-spacer/>
            <v-btn text dark @click="logout">
                Logout
                <v-icon dark right>
                    mdi-logout
                </v-icon>
            </v-btn>
        </v-app-bar>

        <v-main>
            <v-container
                fluid
                class="grey lighten-4 fill-height align-content-start"
            >
                <router-view/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        name: 'App',
        data() {
            return {
                drawer: null,
            };
        },
        methods: {
            ...mapActions({
                actionLogout: 'logout'
            }),
            async logout() {
                try {
                    await this.axios.get('/logout');
                    this.actionLogout();
                    location.reload();
                } catch (e) {
                    console.error(e);
                }
            }
        }
    }
</script>
