<template>
    <v-app>
        <v-main>
            <v-container
                fluid
                class="fill-height"
            >
                <v-row
                    align="center"
                    justify="center"
                >
                    <v-col
                        cols="12"
                        sm="8"
                        md="4"
                    >
                        <v-card class="elevation-12" @keyup.enter="login">
                            <v-toolbar
                                color="primary"
                                dark
                                flat
                            >
                                <v-toolbar-title>Login</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                        label="Login"
                                        name="login"
                                        type="text"
                                        prepend-icon="mdi-account"
                                        v-model="form.email"
                                        :error-messages="errors.email"
                                    />

                                    <v-text-field
                                        id="password"
                                        label="Password"
                                        name="password"
                                        type="password"
                                        prepend-icon="mdi-lock"
                                        v-model="form.password"
                                        :error-messages="errors.password"
                                    />
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="login">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        data() {
            return {
                form: {
                    email: null,
                    password: null
                },
                errors: {}
            };
        },
        methods: {
            ...mapActions({
                actionLogin: 'login'
            }),
            async login() {
                try {
                    this.errors = {};
                    let res = await this.axios.post('/login', this.form);

                    if (res.data.hasOwnProperty('data')) {
                        this.actionLogin(res.data.data);
                        this.$router.push('/');
                    }
                } catch (e) {
                    if (e.response.data.hasOwnProperty('errors')) {
                        this.errors = e.response.data.errors;
                    }

                    console.error(e);
                }
            }
        }
    }
</script>
