<template>
    <v-row>
        <v-col cols="12">
            <v-text-field
                solo
                class="mx-8"
                @input="searchItems"
                placeholder="Search Items by Title or Description"
            ></v-text-field>
        </v-col>
        <v-col
            v-for="item in filteredItems"
            :key="item.id"
            cols="3"
        >
            <v-card>
                <v-img
                    @click="viewItem(item.id)"
                    style="cursor: pointer"
                    :src="item.image_url"
                ></v-img>

                <v-card-title>
                    {{ item.title }}
                </v-card-title>

                <v-card-text>
                    {{ item.description }}
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                items: [],
                filteredItems: []
            };
        },
        methods: {
            async getItems() {
                try {
                    let res = await this.axios.get('/items');

                    return res.data.data;
                } catch (e) {
                    console.log(e);
                }
            },
            viewItem(id) {
                this.$router.push(`/item/${id}`);
            },
            searchItems(text) {
                this.filteredItems = this.items.filter(item => {
                    return item.title.indexOf(text) !== -1 || item.description.indexOf(text) !== -1;
                });
            }
        },
        mounted() {
            this.getItems().then(items => {
                this.items = items;
                this.filteredItems = items;
            });
        }
    }
</script>
